.productBrand {
    color: rgb(28, 212, 111);
}

.currencyCode {
    color: rgb(28, 212, 111);
}

.currencyInteger {
    color: rgb(28, 212, 111);
}
.currencyDecimal {
    color: rgb(28, 212, 111);
}
.currencyFraction {
    color: rgb(28, 212, 111);
}
