.address-form__postalCode-forgottenURL {
    color: rgb(28, 212, 111);
}

.pointer {
    color: rgb(28, 212, 111);
}

.currencyInteger {
    color: rgb(28, 212, 111);
}
.currencyDecimal {
    color: rgb(28, 212, 111);
}
.currencyFraction {
    color: rgb(28, 212, 111);
}
